/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
html
{
	background: url(../img/mountains.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 100%;

}

#loginBox
{
	background-color: rgba(255,255,255,0.4);
	position:absolute;
	left:39%;
	top:25%;
	width:22%;
	height:35%;
	border-radius: 10px;
}

@media (max-width: 640px) { 
	body 
	{
		font-size:1.2rem;
	} 
	#loginBox
	{
		height: 40%;
	}
} 
@media (min-width: 640px) { 
	body 
	{
		font-size:0.4rem;
	} 
} 
@media (min-width:960px) { 
	body 
	{
		font-size:0.6rem;
	} 
} 
@media (min-width:1100px) { 
	body
	{
		font-size:0.8rem;
	} 
}
@media (max-height:768px) { 
	#loginBox
	{
		height: 40%;
		left:35%;
	}
}
@media (max-width: 1024px) { 
	#loginBox
	{
		width:30%;
	}
} 

#superfightLogo
{
	height:15%;
	width:100%;
}

.text-center
{
	color:black;
}

h2{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

a
{
	color:black;
	border-bottom-width: 1px;
	border-bottom-style: solid;	
	position: absolute;
	left:63%;
}
button
{
	position: absolute;
	bottom:50%;
}
#buttonClass
{
	position: absolute;
	bottom:4%;
	left:40%;
}
#login-submit
{
	background-color: rgb(38, 38, 38);
	color:white;
	border-style: solid;
	border-width: 3px;
	border-color: white;
}
#errorMsg
{
	color: rgb(38, 38, 38);
	position:absolute;
	bottom: 0%;
	left:12%;
	visibility: hidden;
}